<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/ebied/Documents/Coding/GitHub/FacebookAutomation/src/test/java/Tests">
        <classes>
            <class name="Tests.LoginTests">
                <methods>
                    <include name="badEmailPassword"/>
                    <include name="emailBadPassword"/>
                    <include name="goodSignIn"/>
                </methods>
            </class>
            <class name="Tests.RegisterTests">
                <methods>
                    <include name="smallPass"/>
                    <include name="badConfirmationEmail"/>
                    <include name="goodSignUp"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>